.detalle-content {
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.detalle-field {
  display: flex;
  margin-bottom: 10px;
}

.detalle-field label {
  width: 100px; /* Ancho deseado para los labels */
  margin-right: 10px;
}

.detalle-field input,
.detalle-field textarea {
  width: 120%; /* Aumentar el ancho en un 20% */
}

.detalle-field textarea {
  height: 150%; /* Aumentar la altura en un 150% */
}
